body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.backColor{
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
}
.backColorSmall{
    display: none;
}

.navBar{
    width: 100%;
    height: 5vh;
    position: fixed;
    z-index: 100;
    background-color: transparent; 
}

ul{
    padding: 0px;
    display: flex;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

li a{
    margin: 0px 8.5px 0px 8.5px;
    text-decoration: none;
    color: #fff;
}

.frameContainer {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */  
    padding-top: 25px;
    width: 300%; /* enlarge beyond browser width */
    left: -100%; /* center */
    position: fixed;
}

.frameContainer iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    pointer-events: none !important;
}

.wrapper {
    overflow: hidden;
    max-width: 100%;
}


.hero{
    width: 100%;
    height: 93.2vh;
    font-size: 15vh;
    position: absolute;
    z-index: 10;
    background-color:transparent;
    text-align: center;
    color: #fff;
    cursor: default; 
}

.art{
    width: 100vw;
    height: 930vh;
    background-color: black;    
}

.tareas{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: transparent;
    color: #fff;
    border: none;
    margin-top: 25vh;
    font-size: 3vh;
    position: relative;
    z-index: 1000000;
}

h1{
    font-style: italic;
    position: relative;
    z-index: 1000000;
}

img{
    display: none;
}


/* prueba concepto about */
.scrollbarMargin{
    width: 100vw;
    position: absolute;
    margin-left: 0px;
}

.heroAbout{
    width: 100%;
    position: relative;
    z-index: 10;
    text-align: left;
    color: #fff;
    margin-bottom: 20vh;
    cursor: default;
    margin-top: 100vh;
}


.yoSoy{
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 12vh;
    text-align: left;
    font-weight: 200;
    margin-top: 8vh;
    margin-left: 20vh;
    margin-bottom: 10vh;
}

.pChido{
    font-weight: 100;
    margin: 2px;
    font-size: 4vh;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 4vh;
    text-align: center;
    margin-top: 46vh;
}

.marca{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    margin: 2px;
    font-size: 4vh;
    text-align: left;
    text-transform: uppercase;
    font-size: 4vh;
    text-align: center;
    margin-top: 46vh;
}

.rowAbout{
    width: 100%;
    text-align: center;
    color: #fff;
}

.seccionAbout{
    margin: 60vh 20vh 5vh 20vh;
    width: 80vw;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: row;
    height: 156vh;
    width: 80vw;
    background-color: #fff;
}

.margenLeft{
    width: 55vh;
    border-left: 2px;
    border-color: #fff;
    border-style: dashed;
}

.mainCurriculum{
    border-left: 2px;
    border-color: #fff;
    border-style: dashed;
    width: 150vh;
    border-left: none;

}

.tituloLeft{
    text-align: left;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5vh;
}

.listaLeft{
    display: flex;
    flex-direction: column;
    padding: 0px;
    text-align: left;
    margin-left: 5vh;
}

.elementosLeft{
    margin-bottom: 2vh;
}

.tituloMain{
    text-align: left;
    font-size: 6vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5vh;
}

.otroTituloMain{
    text-align: left;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5vh;
    margin-bottom: 2vh;
}

.subtituloMain{
    text-align: left;
    font-size: 2.5vh;
    margin-left: 5vh;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.lugarMain{
    text-align: left;
    font-size: 2vh;
    margin: 0px;
    margin-left: 5vh;
    font-family: Arial, Helvetica, sans-serif;
}

.descripcionMain{
    text-align: left;
    font-size: 2vh;
    margin-left: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20vh;
}


.slogan{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: transparent;
    color: #fff;
    border: none;
    margin-top: 15vh;
    font-size: 3vh;
}


/* fin prueba */

@media (max-width: 1000px) {
    .backColorSmall{
        display: block;
        background-image: url("../multimedia/Fondo.png");
        height: 100vh;
        width: 100vw;
        position: absolute;
        z-index: -1;
        }
        .frameContainer iframe {
            display: none;
        }
        img{
            display: block;
            position: absolute;
            z-index: 1;
        }

    h1{
        margin-top: 20vh;
        font-size: 1.5em;
    }
}
@media (max-width: 900px) {
    h1{
        font-size: 1.2em;
    }
}
@media (max-width: 730px) {
    h1{
        font-size: 1em;
    }
    .tareas{
        font-size: 2vh;
    }

}