.navBar{
    width: 100%;
    height: 5vh;
    position: absolute;
    z-index: 100;
    background-color: transparent;
    
}

ul{
    padding: 0px;
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.margenScrollbar{
    padding-left: 17px;
}

li a{
    margin: 0px 17px 0px 0px;
    text-decoration: none;
    color: #fff;
}


