body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

/* SECCIÓN WORK */
.workLi{
    margin: 0px 17px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.fullPage{
    max-width: 100vw;
    background-color: #fff;
    position: absolute;
}



.tituloWork{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    padding-top: 120vh;
    font-size: 3vh;
    margin: 0;
}
.tituloWork2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    padding-top: 200vh;
    font-size: 3vh;
    margin: 0;
}
.tituloWork3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10vh 10vw;
    font-size: 3vh;
    margin: 0;
}

.imgWork{
    width: 50vw;
    margin-left: 25vw;
    transform: translateY(4px);
}

.stikyLateral{
    height: 470vh;
    width: 100vw;
    position: absolute;
}

.navBarLateral{
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-top: 10vh;
    transform: translateY(-20vh);

}

.ulLateral{
    padding-top: 30vh;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.tituloLi{
    margin-right: 1vw;
    text-decoration: underline;
    text-transform: uppercase;
    margin-right: 5vw;
}

.experiments{
    margin-top: 1vh;
    margin-right: 4vw
}

/* SECCIÓN ABOUT */

.scrollbarMargin{
    width: 100vw;
    position: absolute;
    margin-left: 0px;
}

.heroAbout{
    width: 100%;
    position: absolute;
    z-index: 10;
    text-align: left;
    color: #fff;
    background-color: rgb(0, 0, 0);
    margin-bottom: 20vh;
    cursor: default;
}

.project0{
    max-width: 100vw;
}


.yoSoy{
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 12vh;
    text-align: left;
    font-weight: 200;
    margin-top: 8vh;
    margin-left: 20vh;
    margin-bottom: 5vh;
}

.pChido{
    font-weight: 100;
    margin: 2px;
    font-size: 4vh;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8vh;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
    margin-left: 20vh;
    margin-right: 20vh;
}

.marca{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    margin: 2px;
    font-size: 4vh;
    text-align: left;
    text-transform: uppercase;
    font-size: 4vh;
    text-align: center;
    margin-top: 46vh;
}

.rowAbout{
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #fff;
}

.seccionAbout{
    margin: 60vh 20vh 5vh 20vh;
    width: 80vw;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: row;
    height: 176vh;
    width: 80vw;
}

.margenLeft{
    width: 55vh;
    border-left: 2px;
    border-color: black;
    border-style: dashed;
    margin-top: 20vh;
}

.mainCurriculum{
    border-left: 2px;
    border-color: black;
    border-style: dashed;
    width: 150vh;
    border-left: none;
    margin-top: 20vh;
}

.tituloLeft{
    text-align: left;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5vh;
}

.listaLeft{
    display: flex;
    flex-direction: column;
    padding: 0px;
    text-align: left;
    margin-left: 5vh;
}

.elementosLeft{
    margin-bottom: 2vh;
}

.tituloMain{
    text-align: left;
    font-size: 6vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5vh;
}

.otroTituloMain{
    text-align: left;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5vh;
    margin-bottom: 2vh;
}

.subtituloMain{
    text-align: left;
    font-size: 2.5vh;
    margin-left: 5vh;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.lugarMain{
    text-align: left;
    font-size: 2vh;
    margin: 0px;
    margin-left: 5vh;
    font-family: Arial, Helvetica, sans-serif;
}

.descripcionMain{
    text-align: left;
    font-size: 2vh;
    margin-left: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20vh;
}


.slogan{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: transparent;
    color: #fff;
    border: none;
    margin-top: 15vh;
    font-size: 3vh;
}

.last{
    width: 100vw;
    height: 200vh;
    background-color: #C5382C;
    margin-top: 20vh;
}

/* SECCIÓN CONTACTO */

.pro,
.perso {
    max-width: 100vw;
    margin-top: 0vh;
}
.perso {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    clip-path: circle(0px at var(--x, 0) var(--y, 0));
    transition: clip-path 0.3s cubic-bezier(0.52, 0.01, 0.16, 1);
    cursor: default;
}
.perso.moving {
    clip-path: circle(160px at var(--x, 0) var(--y, 0));
    transition: clip-path 0.15s;
}

.tituloWork1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: transparent;
    color: black;
    border: none;
    font-size: 3vh;
    margin-top: 35vh;
    font-weight: 900;
}
.tituloWork12{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: transparent;
    color: black;
    border: none;
    font-size: 3vh;
    margin-top: 10vh;
    font-weight: 900;
}

.pChido1{
    font-weight: 100;
    margin: 2px;
    font-size: 4vh;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 4vh;
    text-align: center;
}

.heroContact{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 10;
    text-align: left;
    background-color: #F9BE09;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}







/* COSAS QUE SOBRAN POR AHORA */



/* .seccionProduct{
    margin: 30vh 20vh 0vh 20vh;
    padding: 2px;
    position: absolute;
    z-index: 111;
    height: 155.5vh;
    width: 79.7vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.box0{
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: transparent;
    color: transparent;
    transition-duration:1s;
    transition-delay: none;
}
.box1{
    grid-column: 3 / 3;
    grid-row: 1;
    background-color: transparent;
    color: transparent;
    transition-duration:1s;
    transition-delay: none;
}
.box2{
    grid-column: 1 / 3;
    grid-row: 2;
    background-color: transparent;
    color: transparent;
    transition-duration:1s;
    transition-delay: none;
}
.box3{
    grid-column: 3 / 3;
    grid-row: 2;
    background-color: transparent;
    color: transparent;
    transition-duration:1s;
    transition-delay: none;
}
.box4{
    grid-column: 1 / 3;
    grid-row: 3;
    background-color: transparent;
    color: transparent;
    transition-duration:1s;
    transition-delay: none;
}
.box5{
    grid-column: 3 / 3;
    grid-row: 3;
    background-color: transparent;
    color: transparent;
    transition-duration:1s;
    transition-delay: none;
}
.box6{
    grid-column: 1 / 3;
    grid-row: 4;
    background-color: transparent;
    color: transparent;
    transition-duration:1s;
    transition-delay: none;
}
.box7{
    grid-column: 3 / 3;
    grid-row: 4;
    background-color: transparent;
    color: transparent;
    transition-duration:1s;
    transition-delay: none;
}

.box0:hover, .box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover, .box7:hover, .box8:hover{
    background-color: #3d5367f8;
    color: black;
}

.project{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0vh 10vh;
}

.miWork{
    margin-top: 18vh;
    text-align: center;
}

h4{
    margin: 0px;
}  */








