body {
    overflow-x: hidden;
    overflow-y: scroll !important;
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
    -webkit-box-shadow: 0 0 0 30px #2B2B2B inset;
}
input:-webkit-autofill
{
    -webkit-text-fill-color: rgb(144, 144, 144);
}

#wrapper{
    width: 100vw;
    overflow-x:hidden;
    position: relative;
    margin: 0px;
    padding: 0px;
}


.navBar{
    width: 100%;
    height: 5vh;
    position: fixed;
    z-index: 10000000000000000000000;
    background-color: transparent; 
}

ul{
    padding: 0px;
    display: flex;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;

}

li a{
    margin: 0px 8.5px 0px 8.5px;
    text-decoration: none;
    color: #fff;
}

iframe{
    position: fixed;
    width: 100vw;
    height: 100vh;
    border: none;
}


/*******************************************************
**** SECCIÓN HOME *******************************
****************************************************/

.hero{
    position: fixed;
    justify-content: center;
    width: 100vw;
}
h1{
    font-style: italic;
    font-size: 15vh;
    padding-top: 30vh;
    position: relative;
    z-index: 1000000;
    margin: 0px;
    color: #fff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.tareas{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: transparent;
    color: #fff;
    border: none;
    margin-top: 25vh;
    font-size: 3vh;
    position: relative;
    z-index: 1000000;
}

.frontMovile{
    display: none;
}


/*******************************************************
**** SECCIÓN ABOUT *******************************
****************************************************/

#heroAbout{
    width: 100%;
    position: relative;
    z-index: 10;
    text-align: left;
    color: #fff;
    background-color: black;
    cursor: default;
    overflow-x: hidden;
    top: 98.5vh;
}

#addSection{
    position: absolute;
    width: 10vw;
    height: 50px;
    z-index: 100000;
    background-color: #000000;
    right: -25px;
    top: 95vh;
    transform: skew(-35deg);
}

.yoSoy{
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 12vh;
    text-align: left;
    font-weight: 200;
    margin-top: 14vh;
    margin-left: 20vh;
    margin-bottom: 10vh;
    font-weight: 300;
}

.mercosur{
    width: 30vw;
    height: 84vh;
    position: relative;
    z-index: 100000;
    left: 40vw;
    transform: rotate(1deg);
}

.kuga{
    width: 30vw;
    height: 84vh;
    position: absolute;
    z-index: 10000;
    transform: rotate(-4deg);
    left: 16vw;
    top: 80vh;
}

.blackBack{
    width: 100vw;
    height: 200vh;
    background-color: rgb(0, 0, 0);
    position: relative;
    z-index: 100;
}

.hrBottom{
    width: 80vw;
}

a{
    text-decoration: none;
}

.pChido{
    font-weight: 100;
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8vh;
    margin-top: 30vh;
    margin-bottom: 15vh;
    margin-left: 20vh;
    margin-right: 20vh;
    position: sticky;
    font-weight: 300;
}

.pChido1{
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8vh;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
    margin-left: 20vh;
    margin-right: 20vh;
    position: sticky;
    top: 50vh;
}
.pChido2, .pChido3{
    font-weight: 100;
    margin: 2px;
    font-size: 4vh;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 4vh;
    text-align: center;
    margin-top: 46vh;
    
}

.pChido2{
    color: #fff;
    display: block;
    text-align: center;
}

.marca{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    margin: 2px;
    font-size: 4vh;
    text-align: left;
    text-transform: uppercase;
    font-size: 4vh;
    text-align: center;
    margin-top: 46vh;
    color: #FFCB28;
}

.rowAbout{
    max-width: 100%;
    text-align: center;
    color: #fff;
    background-color: black;
    position: relative;
}

.seccionAbout{
    margin: 0vh 20vh 5vh 20vh;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: row;
    width: 100vw;
    position: relative;
}

#margenLeft{
    width: 55vh;
    border-left: 2px;
    border-color: #fff;
    border-style: dashed;
    margin-top: 20vh;
    margin-bottom: 40vh;
}

#mainCurriculum{
    border-left: 2px;
    border-style: dashed;
    border-color: #fff;
    width: 100vh;
    border-left: none;
    margin-top: 20vh;
    margin-bottom: 40vh;
}

.blinking{
    animation-name: blinking;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes blinking {
    0%   {background-color: #ffc92800;}
    5% {background-color: #ffffff23;}
    7%   {background-color: #ffffff15;}
    9% {background-color: #ffffff23;}
    11% {background-color: #ffffff00;}
    100%   {background-color: #ffc92800;}
}

.tituloLeft{
    text-align: left;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5vh;
}

.listaLeft{
    display: flex;
    flex-direction: column;
    padding: 0px;
    text-align: left;
    margin-left: 5vh;
}

.elementosLeft{
    margin-bottom: 2vh;
}

.tituloMain{
    text-align: left;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5vh;
}

.otroTituloMain{
    text-align: left;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5vh;
    margin-bottom: 2vh;
}

.subtituloMain{
    text-align: left;
    font-size: 2.5vh;
    margin-left: 5vh;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.lugarMain{
    text-align: left;
    font-size: 2vh;
    margin: 0px;
    margin-left: 5vh;
    font-family: Arial, Helvetica, sans-serif;
}

.descripcionMain{
    text-align: left;
    font-size: 2vh;
    margin-left: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20vh;
}

.slogan{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 10vh;
    margin: 0px;
    font-size: 3vh;
}

/*******************************************************
**** SECCIÓN CONTACT *******************************
****************************************************/

#heroContact{
    width: 100%;
    position: relative;
    z-index: 10;
    text-align: left;
    background-color: black;
    color: white;
    bottom: 0px;
    top: 98.5vh
}

.containerFlexContacto{
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.form{
    width: 40vw;
    margin: 0px;
    padding: 2vh 10vw;
}

.formTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    margin: 0px;
    color: #FFCB28;
    font-style: italic;
}

.formP{
    font-size: 1.2rem;
    margin: 1vh 0vw 6vh 0vw;
    font-family: Arial, Helvetica, sans-serif;
}

.formImput{
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.formFirstImput{
    display: flex;
    flex-direction: row;
}

input,textarea{
    background-color:#2B2B2B;
    border: #000000;
    color: rgb(144, 144, 144);
    font-family: Arial, Helvetica, sans-serif;
    outline-color: #ffc928;
    font-size: 1rem;
    padding-top: 5px;
}
#gridConacto {
    display: grid;
    z-index: 10000000;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-rows: 50px 50px 38vh 80px;
    width: 40vw;    
}
#name {
    grid-column: 1 / 2;
    grid-row: 1;
    padding-left: 15px;
}
#email {
    grid-column: 2/ 2;
    grid-row: 1;
    padding-left: 15px;
}

#subject{
    grid-column: 1 / 3;
    grid-row: 2;
    padding-left: 15px;
}

#message {
    grid-column: 1 / 3;
    grid-row: 3;
    padding-left: 15px;
    padding-top: 15px;
}

button {
    grid-column: 2 / 3;
    grid-row: 4;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #FFCB28;
    border: #FFCB28;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 3vh;
    height: 50px;
    width: 240px;
    justify-self: end;
    letter-spacing: 3px;
}

#popUp{
    position: absolute;
}

#sendMessage{
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    background-color: #ffc928;
    position: relative;
    z-index: 10;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0vh 5vw;
    transform: scale(1.02);
    animation-name: example;
    animation-duration: .5s;
}

@keyframes example {
    0%   {background-color: #ffc92800;}
    100%   {background-color: #ffc928;}
}

#nameNeed, #emailNeed, #subjetNeed, #messageNeed{
    position: relative;
    z-index: 0;
    border: 3px;
    border-style: solid;
    border-color: #ffc928;
    border-radius: 10px;
    display: flex;
    font-size: 14px;
    transform: scale(1.01);
    animation-name: alert;
    animation-duration: .5s;
}

#nameNeedFondo, #emailNeedFondo, #subjectNeedFondo, #messageNeedFondo{
    border: 2px;
    border-style: solid;
    border-color: #000000;
}
@keyframes alert {
    0%   {border-color: #ffc92800;}
    60%   {border-color: #ffc928;}
    80%   {border-color: #ffc92800;}
    100%   {border-color: #ffc928;}
}

.alert{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vh;
    color: #ffc928;
    margin: 5px;
    transform: translateY(-30px);
}

#nameNeed, #nameNeedFondo{
    grid-column: 1 / 2;
    grid-row: 1;
    pointer-events:none;
}

#emailNeed, #emailNeedFondo{
    grid-column: 2 / 3;
    grid-row: 1;
    pointer-events:none;
}

#subjetNeed, #subjectNeedFondo{
    grid-column: 1 / 3;
    grid-row: 2;
    pointer-events:none;
}

#messageNeed, #messageNeedFondo{
    grid-column: 1 / 3;
    grid-row: 3;
    pointer-events:none;
}

#shadow{
    grid-column: 1 / 3;
    grid-row: 1;
    animation-name: shadow;
    animation-duration: .2s;
    background-color: #000000d2;
}
#shadow1{
    grid-column: 1 / 3;
    grid-row: 3 / 8;
    animation-name: shadow;
    animation-duration: .2s;
    background-color: #000000d2;
}
@keyframes shadow {
    0%   {background-color: #ffc92800;}
    100%   {background-color: #000000d2;}
}

.sendText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    margin: 5px;
}

#cancel{
    cursor: pointer;
    position: absolute;
    right: 5vh;
    top: 5vh;
}


.message::placeholder{
    font-family: Arial, Helvetica, sans-serif;
}


.location{
    width: 40vw;
    height: 100vh;
    background-color: #2b2b2b8c;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
}

.locationImg{
    width: 40vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    filter: saturate(3);
}

/*******************************************************
**** SECCIÓN FOOTER *******************************
****************************************************/

footer{
    background-color: #000000;
    position: relative;
    z-index: 10;
    height: 100vh;
    top: 98.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    border: none;
    padding: 45vh 0px 35vh 0px;
    margin: 0px;
    font-size: 1.6rem;
    user-select: none;
}

.enlacesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 7vw;
}

.enlaces{
    width: 30px;
    cursor: pointer;
}




/******************************************
************* TECNOLOGIA *******************
*****************************************/

.tec{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    position: fixed;
    z-index: 10000000000000;
}

.tecLogo{
    max-width: 30vh;
}

#tecGrid{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10vh 30vh 5vh 40vh 5vh;
    width: 70vw; 
    height: 100vh;
    position: fixed;
    z-index: 10000000000000000000;
    padding: 5vh 15vw;
    background-color: #ffffff;
    display: none;
    animation-name: tecIn;
    animation-duration: 1s;
    cursor: none;  
    align-items: center; 
    justify-items: center;
}
#tecTitulo{
    grid-column: 1 / 5;
    grid-row: 1;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    text-align: center;
    animation-name: logo;
    animation-duration: 0.7s;
    cursor: none;
}
#tecHTML, #tecCSS, #tecJS, #tecREACT, #tecANGULAR, #tecMONGODB, #tecGITHUB, #tecMYSQL{
    animation-name: logo;
    animation-duration: 0.7s;
    cursor: none;
    position: relative;
    bottom: 0px;
    margin: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#tecHTML{
    grid-column: 1 / 2;
    grid-row: 3;
    
}
#tecCSS{
    grid-column: 2 / 3;
    grid-row: 3;
}
#tecJS{
    grid-column: 3 / 4;
    grid-row: 3;
}
#tecREACT{
    grid-column: 4 / 5;
    grid-row: 3;
}
#html{
    grid-column: 1 / 2;
    grid-row: 2;
    animation-name: logo;
    animation-duration: 0.7s;
    cursor: none;
}
#css{
    grid-column: 2 / 3;
    grid-row: 2;
    animation-name: logo;
    animation-duration: 0.7s;
    cursor: none; 
}
#js{
    grid-column: 3 / 4;
    grid-row: 2;
    animation-name: logo;
    animation-duration: 0.7s;
    cursor: none;
    transform: scale(.83);
}
#rjs{
    grid-column: 4 / 5;
    grid-row: 2;
    animation-name: logo;
    animation-duration: 0.7s;
    cursor: none;
}
#tecANGULAR{
    grid-column: 1 / 2;
    grid-row: 5;
}
#tecMONGODB{
    grid-column: 2 / 3;
    grid-row: 5;
}
#tecMYSQL{
    grid-column: 3 / 4;
    grid-row: 5;
}
#tecGITHUB{
    grid-column: 4 / 5;
    grid-row: 5;
}
#ang{
    grid-column: 1 / 2;
    grid-row: 4;
    animation-name: logo;
    animation-duration: 0.7s;
    cursor: none;
}
#mdb{
    grid-column: 2 / 3;
    grid-row: 4;
    animation-name: logo;
    animation-duration: 0.7s;
    cursor: none;
}
#sql{
    grid-column: 3 / 4;
    grid-row: 4;
    animation-name: logo;
    animation-duration: 0.7s;
    cursor: none;
}
#gh{
    grid-column: 4 / 5;
    grid-row: 4;
    filter: brightness(0);
    animation-name: logo;
    animation-duration: 0.7s;
    cursor: none;
    transform: scale(.8);
}
@keyframes tecIn {
    0%   {background-color: rgba(255, 255, 255, 0);}
    100%   {background-color: #fff;}
}
@keyframes tecOut {
    0%   {background-color: rgb(255, 255, 255);}
    100%   {background-color: rgba(255, 255, 255, 0);}
}
@keyframes logo {
    0%   {opacity: 0.0; color: #00000000;}
    100%   {opacity: 1; color: #000000;}
}

#github{
    transform: scale(1.15);
}


/*******************************************************
**** MEDIA QUERY *******************************
****************************************************/

@media (max-width: 700px) {
    .frameContainer {
        position: relative;
        padding-bottom: 50%; /* 16:9 */  
        height: 100vh;
        position: fixed;
    }

    ul{
        margin-top: 3vh;
    }
    
    h1{
        font-size: 3rem;
        padding-bottom: 10vh;
    }
    .tareas{
        font-size: 1rem;
    }


    #addSection{
        right: -15px;
        width: 100px;
        top: 95vh;
    }

    #heroAbout{
        top: 98.5vh;
    }

    .yoSoy{
        font-size: 2.5rem;
        margin: 20px 0px 50px 0px;
        padding: 20px;
        line-height: 1;
    }

    .mercosur{
        width: 80vw;
        height: 60vh;
        left: 40vw;
    }

    .kuga{
        width: 80vw;
        height: 60vh;
        left: -20vw; 
        top: 60vh;
    }

    .pChido{
        font-size: 2.5rem;
        margin: 18vh 0px;
        padding: 20px;
        line-height: 1;
    }

    .hrBottom{
        margin: 20px;
        width: 90vw;
    }

    .pChido2, .pChido3, .marca{
        font-size: 1.3rem;
    }

    .seccionAbout{
        margin-right: 0px;
        margin-left: 0px;
        padding: 0px;
        width: 100vw;
    }

    #margenLeft {
        display: none;
    }

    #mainCurriculum{
        border-right: none;
        margin-bottom: 22vh;
    }

    .tituloMain, .otroTituloMain, .subtituloMain, .lugarMain, .descripcionMain{
        margin-left: 20px;
    }

    .descripcionMain{
    text-align: left;
    font-size: 2.5vh;
    margin: 0px 20px;
}

/****************************************************
**** SECCIÓN CONTACT *******************************
****************************************************/

    .containerFlexContacto{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .form{
        padding: 20px;
        width: 90vw;
        margin-bottom: 20vh;
        background-color: #000000;
    }
    .formTitle{
        font-size: 2.5rem;
    }
    #gridConacto {
        display: grid;
        grid-template-columns: 90vw;
        grid-gap: 8px;
        grid-template-rows: 50px 50px 50px 220px 80px;
        width: 40vw;    
    }

    #name,  #nameNeed, #nameNeedFondo {
        grid-column: 1 ;
        grid-row: 1;
    }
    #email, #emailNeed, #emailNeedFondo {
        grid-column: 1 ;
        grid-row: 2;
    }
    
    #subject, #subjetNeed, #subjectNeedFondo{
        grid-column: 1;
        grid-row: 3;
    }
    
    #message, #messageNeed, #messageNeedFondo {
        grid-column: 1 ;
        grid-row: 4;
    }
    
    button {
        grid-column: 1;
        grid-row: 5;
        width: 200px;
    }
    #sendMessage{
        grid-column: 1;
        grid-row: 1 / 5;
    }
    .locationImg{
        position: relative;
        width: 100vw;
    }

    .slogan{
        padding: 40vh 0px 40vh 0px;
    }
    
    .enlacesContainer{
        width: 20vw;
    }
    
    .enlaces{
        width: 25px;
        cursor: pointer;
    }

    .alert{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vh;
    color: #ffc928;
    margin: 5px;
    transform: translateY(-24px);
    }

    /******************************************
************* TECNOLOGIA *******************
*****************************************/
    .tecLogo{
        max-width: 30vh;
    }

    #tecGrid{
        grid-template-columns: repeat(2, 35vw);
        grid-template-rows: 40px 100px 20px 100px 20px 100px 20px 100px 20px;
        width: 100vw; 
        height: 100vh;
        padding: 7vh 15vw;
        justify-items: center;
    }
    #tecTitulo{
        grid-column: 1 / 3;
        grid-row: 1;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.5rem;
        margin: 20px 0px;
        padding-bottom: 20px;
    }
    #tecHTML, #tecCSS, #tecJS, #tecREACT, #tecANGULAR, #tecMONGODB, #tecGITHUB, #tecMYSQL{
        animation-name: logo;
        animation-duration: 0.7s;
        cursor: none;
        position: relative;
        bottom: 0px;
        margin: 0px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    #html{
        grid-column: 1;
        grid-row: 2;
        transform: scale(.5);
        justify-content: center;
    }
    #css{
        grid-column: 2;
        grid-row: 2;
        transform: scale(.5);
    }
    #tecHTML{
        grid-column: 1;
        grid-row: 3;
        
    }
    #tecCSS{
        grid-column: 2;
        grid-row: 3;
    }
    #js{
        grid-column: 1;
        grid-row: 4;
        transform: scale(.45);
    }
    #rjs{
        grid-column: 2;
        grid-row: 4;
        transform: scale(.5);
    }
    #tecJS{
        grid-column: 1;
        grid-row: 5;
    }
    #tecREACT{
        grid-column: 2;
        grid-row: 5;
    }
    #ang{
        grid-column: 1;
        grid-row: 6;
        transform: scale(.5);
    }
    #mdb{
        grid-column: 2;
        grid-row: 6;
        transform: scale(.5);
    }
    #tecANGULAR{
        grid-column: 1;
        grid-row: 7;
    }
    #tecMONGODB{
        grid-column: 2;
        grid-row: 7;
    }
    #sql{
        grid-column: 1;
        grid-row: 8;
        transform: scale(.5);
    }
    #gh{
        grid-column: 2;
        grid-row: 8;
        filter: brightness(0);
        transform: scale(.4);
    }
    #tecMYSQL{
        grid-column: 1;
        grid-row: 9;
    }
    #tecGITHUB{
        grid-column: 2;
        grid-row: 9;
    }
    @keyframes tecIn {
        0%   {background-color: rgba(255, 255, 255, 0);}
        100%   {background-color: #fff;}
    }
    @keyframes tecOut {
        0%   {background-color: rgb(255, 255, 255);}
        100%   {background-color: rgba(255, 255, 255, 0);}
    }
    @keyframes logo {
        0%   {opacity: 0.0; color: #00000000;}
        100%   {opacity: 1; color: #000000;}
    }
}









