body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

.navBar{
    width: 100%;
    height: 5vh;
    position: fixed;
    z-index: 100;
    background-color: transparent; 
    
}

ul{
    padding: 0px;
    display: flex;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

li a{
    margin: 0px 8.5px 0px 8.5px;
    text-decoration: none;
    color: #fff;
}


/* SECCIÓN WORK */
.workLi{
    margin: 0px 17px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.fullPage{
    max-width: 100vw;
    background-color: #fff;
    position: absolute;
}



.tituloWork{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    padding-top: 120vh;
    font-size: 3vh;
    margin: 0;
}
.tituloWork2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    padding-top: 200vh;
    font-size: 3vh;
    margin: 0;
}
.tituloWork3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10vh 10vw;
    font-size: 3vh;
    margin: 0;
}

.imgWork{
    width: 50vw;
    margin-left: 25vw;
    transform: translateY(4px);
}

.stikyLateral{
    height: 470vh;
    width: 100vw;
    position: absolute;
}

.navBarLateral{
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-top: 10vh;
    transform: translateY(-20vh);

}

.ulLateral{
    padding-top: 30vh;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.tituloLi{
    margin-right: 1vw;
    text-decoration: underline;
    text-transform: uppercase;
    margin-right: 5vw;
}

.experiments{
    margin-top: 1vh;
    margin-right: 4vw
}

/* SECCIÓN ABOUT */

.scrollbarMargin{
    width: 100vw;
    position: absolute;
    margin-left: 0px;
}

.heroAbout{
    width: 100%;
    position: absolute;
    z-index: 10;
    text-align: left;
    color: #fff;
    background-color: rgb(0, 0, 0);
    margin-bottom: 20vh;
    cursor: default;
    overflow-x: hidden;
}

.stickySoy{
    position: absolute;
    max-width: 100vw;
    height: 100vh;
    margin-bottom: 20vh;
    
}


.yoSoy{
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 6rem;
    text-align: left;
    font-weight: 200;
    margin: 8vh 5vw;
    margin-bottom: 5vh;
    position: sticky;
    top: 8vh;
    
}

.project0{
    width: 125vw;
    position: relative;
    margin-left: -15vw;
    top: 25vw;
    z-index: 1;
    margin-bottom: 60vh;
    
}
.hrProject0{
    transform: translateY(-5.3vw);
}
.project1{
    max-width: 100vw;
    position: relative;
    top: 50vh;
    z-index: 1;
}

.hrBottom{
    width: 80vw;
    margin-top: 90vh;
}

.stickyChido{
    position: absolute;
    max-width: 100vw;
    height: 160vh;
    transform: translate(0, -40vh);
    z-index: 0;
}
.stickyChido1{
    position: absolute;
    width: 100vw;
    height: 80vh;
    z-index: 0;
}

.pChido{
    font-weight: 100;
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8vh;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
    margin-left: 20vh;
    margin-right: 20vh;
    position: sticky;
    top: 80vh;
}
.pChido1{
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8vh;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
    margin-left: 20vh;
    margin-right: 20vh;
    position: sticky;
    top: 50vh;
}
.pChido2{
    font-weight: 100;
    margin: 2px;
    font-size: 4vh;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 4vh;
    text-align: center;
    margin-top: 46vh;
}

.marca{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    margin: 2px;
    font-size: 4vh;
    text-align: left;
    text-transform: uppercase;
    font-size: 4vh;
    text-align: center;
    margin-top: 46vh;
}

.rowAbout{
    max-width: 100%;
    text-align: center;
    color: #fff;
    background-color: black;
}

.seccionAbout{
    margin: 60vh 20vh 5vh 20vh;
    max-width: 80vw;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: row;
    height: 176vh;
    width: 80vw;
}

.margenLeft{
    width: 55vh;
    border-left: 2px;
    border-color: #fff;
    border-style: dashed;
    margin-top: 20vh;
}

.mainCurriculum{
    border-left: 2px;
    border-color: #fff;
    border-style: dashed;
    width: 150vh;
    border-left: none;
    margin-top: 20vh;
}

.tituloLeft{
    text-align: left;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5vh;
}

.listaLeft{
    display: flex;
    flex-direction: column;
    padding: 0px;
    text-align: left;
    margin-left: 5vh;
}

.elementosLeft{
    margin-bottom: 2vh;
}

.tituloMain{
    text-align: left;
    font-size: 6vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5vh;
}

.otroTituloMain{
    text-align: left;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5vh;
    margin-bottom: 2vh;
}

.subtituloMain{
    text-align: left;
    font-size: 2.5vh;
    margin-left: 5vh;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.lugarMain{
    text-align: left;
    font-size: 2vh;
    margin: 0px;
    margin-left: 5vh;
    font-family: Arial, Helvetica, sans-serif;
}

.descripcionMain{
    text-align: left;
    font-size: 2vh;
    margin-left: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20vh;
}


.slogan{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: transparent;
    color: #fff;
    border: none;
    margin-top: 15vh;
    font-size: 3vh;
}

@media (max-width: 1000px) {

    .yoSoy{
        font-size: 2rem;
        text-align: left;
        position: sticky;
        top: 0vh;
        font-weight: 500;
        margin-bottom: 10px;
        z-index: 11;
    }
    
    .snake{
        width: 90vw;
        position: fixed;
        margin: 0vh 5vw;
        z-index: 0;
        top: 50vh;
    }

    .project1{
        max-width: 100vw;
    }

    .pChido{
        font-size: 2rem;
        font-weight: 500;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        margin: 20px;
        margin-top: 10px;
        top: 55vh;
    }

    .pChido1{
        font-size: 2rem;
        font-weight: 500;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        margin: 20px;
        top: 110vh;
    }

    .rowAbout{
        height: 315vh;
        width: 100vw;
    }
    .seccionAbout{
        margin: 0px;
        width: 100vw;
        
    }

    .margenLeft{
        display: none;
    }

    .mainCurriculum{    
        height: 175vh;
        min-width: 100vw;
    }

    .lugarMain{
        margin-right: 7vw;
    }

    .descripcionMain{
        text-align: left;
        font-size: 2vh;
        margin-left: 5vh;
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 7vh;
    }

    .slogan{
        position: absolute;
        bottom: 60vh;
        margin-left: 20vw;
    }


    
}

/* SECCIÓN CONTACTO */

/* .tituloWork1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: transparent;
    color: black;
    border: none;
    font-size: 3vh;
    margin-top: 35vh;
    font-weight: 900;
}
.tituloWork12{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: transparent;
    color: black;
    border: none;
    font-size: 3vh;
    margin-top: 10vh;
    font-weight: 900;
} */

.heroContact{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 10;
    text-align: left;
    background-color: black;
}

.pChido10{
    font-weight: 100;
    margin: 2px;
    font-size: 4vh;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8vh;
    text-align: center;
    margin-top: 40vh;
    margin-bottom: 10vh;
    margin-left: 20vh;
    margin-right: 20vh;
}

a{
    text-decoration: none;
    color: white;
}
























/* COSAS QUE SOBRAN POR AHORA */



/* .seccionProduct{
    margin: 30vh 20vh 0vh 20vh;
    padding: 2px;
    position: absolute;
    z-index: 111;
    height: 155.5vh;
    width: 79.7vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.box0{
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: transparent;
    color: transparent;
    transition-duration:1s;
    transition-delay: none;
}
.box1{
    grid-column: 3 / 3;
    grid-row: 1;
    background-color: transparent;
    color: transparent;
    transition-duration:1s;
    transition-delay: none;
}
.box2{
    grid-column: 1 / 3;
    grid-row: 2;
    background-color: transparent;
    color: transparent;
    transition-duration:1s;
    transition-delay: none;
}
.box3{
    grid-column: 3 / 3;
    grid-row: 2;
    background-color: transparent;
    color: transparent;
    transition-duration:1s;
    transition-delay: none;
}
.box4{
    grid-column: 1 / 3;
    grid-row: 3;
    background-color: transparent;
    color: transparent;
    transition-duration:1s;
    transition-delay: none;
}
.box5{
    grid-column: 3 / 3;
    grid-row: 3;
    background-color: transparent;
    color: transparent;
    transition-duration:1s;
    transition-delay: none;
}
.box6{
    grid-column: 1 / 3;
    grid-row: 4;
    background-color: transparent;
    color: transparent;
    transition-duration:1s;
    transition-delay: none;
}
.box7{
    grid-column: 3 / 3;
    grid-row: 4;
    background-color: transparent;
    color: transparent;
    transition-duration:1s;
    transition-delay: none;
}

.box0:hover, .box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover, .box7:hover, .box8:hover{
    background-color: #3d5367f8;
    color: black;
}

.project{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0vh 10vh;
}

.miWork{
    margin-top: 18vh;
    text-align: center;
}

h4{
    margin: 0px;
}  */








